@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --darkblue: #1f2937;
    --white: #ffffff;
    --logo-color: #f9faf8;
    --navi-color: #e5e7eb;
    --cta: #3882f6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--darkblue);
    padding: 1em 13em;

    .navi {
        display: flex;
        justify-content: space-between;

        .left-side {
            color: var(--logo-color);
            font-size: 24px;
            font-weight: bolder;
        }

        .right-side {
            display: inline-block;
            color: var(--navi-color);

            ul {
                list-style: none;
                display: flex;
                gap: 16px;
            }

            a {
                text-decoration: none;
                color: var(--white);
                font-size: 18px;
            }
        }
    }

    .hero {
        background-color: var(--darkblue);
        color: var(--logo-color);
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        .left-side {
            display: flex;
            flex-direction: column;
            gap: 1em;

            h1 {
                font-size: 48px;
                font-weight: bolder;
            }

            .signup {
                cursor: pointer;
                padding: 6px 30px;
                border-radius: 8px;
                color: var(--logo-color);
                background-color: var(--cta);
                border: 1px solid var(--cta);
                font-weight: bold;
                width: 128px;
            }
        }

        .right-side {
            flex-shrink: 0;
            width: 50%;

            .img-placeholder {
                background-color: gray;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 215px;
            }

            .img-txt {
                font-size: 18px;
                color: var(--logo-color);
                text-decoration: none;
            }
        }
    }

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    h2 {
        font-size: 36px;
        font-weight: bolder;
        color: var(--darkblue);
    }

    .info-section {
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        flex-wrap: wrap;

        .info {
            text-align: center;
            max-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;


            .info-img {
                height: 160px;
                width: 160px;
                border: 4px solid var(--cta);
                border-radius: 20px;
            }
        }
    }
}


.testimonial {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5em 17em;
    background-color: var(--navi-color);

    em {
        font-size: 36px;
        font-weight: 100;
        color: var(--darkblue);
    }

    span {
        align-self: flex-end;
        font-weight: bolder;
        font-size: 24px;
        color: var(--darkblue);
    }
}

.cta-section {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em 15em;

    .modal {
        display: flex;
        justify-content: space-around;
        background-color: var(--cta);
        border: 1px solid var(--cta);
        border-radius: 10px;
        align-items: center;
        height: 12vh;

        .cta-modal {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .cta-text {
                color: var(--logo-color);
                font-size: 24px;
                font-weight: bolder;
            }

            .modal-text {
                color: var(--logo-color);
            }
        }

        .signup-inverse {
            align-items: center;
            cursor: pointer;
            padding: 6px 30px;
            border-radius: 8px;
            color: var(--logo-color);
            background-color: var(--cta);
            border: 2px solid var(--logo-color);
            font-weight: bold;
            width: 128px;
            font-size: 18px;

        }
    }

}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--darkblue);
    align-items: center;
    color: var(--logo-color);
    height: 10vh;
}